.chat {
	box-sizing: border-box;
	height: 100vh;
	width: 100vw;
	background: #fff;
	overflow: hidden;
	&-record {
		padding: 10px;
		height: 85vh;
		box-sizing: border-box;
		word-wrap: break-word;
		word-break: break-all;
	}
	.scroll-view_H {
		height: 85vh;
		padding: 0 10px;
		box-sizing: border-box;
	}
	&-send {
		border-top: 1px solid #f2f2f2;
		padding: 15px 20px;
		box-sizing: border-box;
		position: fixed;
		width: 100%;
		bottom: 2vh;
		margin-bottom: 10px;
		background: #fff;
		.input-wrapper {
			position: relative;
			width: 100%;
			box-sizing: border-box;
			background: #f2f2f2;
			border-radius: 6px;
		}
		.sendicon {
			position: absolute;
			right: 10px;
			bottom: calc(50% - 14px);
		}
		.active {
			:deep(.uniui-paperplane-filled) {
				color: #0cb90c !important;
			}
		}
		:deep(input){
			line-height: 45px;
			border: 1px solid #f2f2f2;
			height: 45px;
			border-radius: 6px;
			width: 100%;
			display: inline-block;
			padding: 0 50px 0 10px;
			font-size: 14px;
			box-sizing: border-box;
			font-size: 16px;
		}
	}
	.popup {
		height: 60vh;
		width: 100vw;
		padding-top: 10vh;
		box-sizing: border-box;
		background: #fff;
		text-align: center;
		&-avatar {
			width: 20vw;
			height: 20vw;
			margin: 20px auto;
			display: inline-block;
			padding: 0;
			&-img {
				width: 20vw;
				height: 20vw;
				
			}
		}
		&-submit {
			width: 40vw;
			margin-top: 30px;
		}
	}
}
